<!-- templates/base.html -->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LoRa Research</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" media="screen">

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-nav">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ url_for('main.index') }}" class="navbar-item">Home</a>
                        </li>
                  <!--      <li>
                            <a href="{{ url_for('main.sensors') }}" class="navbar-item">Sensors</a>
		  </li> -->
                </div>
            </div>
        </div>

        <div class="container-fluid fixed-top my-5">
            <div id="marquee" class="container-fluid my-5 align-items-center" style="height: 110px; background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url({{url_for('static', filename='network.png')}}); background-position: 100% 75%; background-size: 100%"> 
                <p id="marquee" style="height:110px; font-size: 80px; font-family:'Courier New'" class="display-1 text-center"><strong>LoRa Research</strong></p>
            </div>
        </div>
        <div class="container-fluid mt-5">
        <!-- <div> -->
               {% block content %}

               {% endblock %}
        </div>
    </body>

</html>

