  
<!-- templates/full_list.html -->

{% extends "base.html" %}

{% block content %}
<!-- <div class="container align-items-center"> -->
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">MAC Address</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Count</th>
        <th scope="col">Sensor Latitude, Longitude</th>
        <th scope="col">Sensor</th>
        <th scope="col">OUI</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td scope="col">{{ loop.index  }}</td>
        <td>{{ row.get('mac') }}</td>
        <td>{{ row.get('seen') }}</td>
	<td>{{ row.get('count') }}</td>
        <td>{{ row.get('lat') + ', ' + row.get('lon') }}</td>
        <td>{{ row.get('sens_id') }}</td>
	<td>{{ row.get('oui') }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="tfoot-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">MAC Address</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Count</th>
        <th scope="col">Sensor Latitude, Longitude</th>
        <th scope="col">Sensor</th>
        <th scope="col">OUI</th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="col-sm-1"></div>


</div>
{% endblock %}
