  
<!-- templates/beer.html -->

{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-10">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">MAC Address</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Count</th>
        <th scope="col">Sensor Latitude, Longitude</th>
        <th scope="col">Sensor</th>
        <th scope="col">OUI</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td scope="col">{{ loop.index  + ((page-1)*per_page) }}</td>
        <td>{{ row.get('mac') }}</td>
        <td>{{ row.get('seen') }}</td>
	<td>{{ row.get('count') }}</td>
        <td>{{ row.get('lat') + ', ' + row.get('lon') }}</td>
        <td>{{ row.get('sens_id') }}</td>
	<td>{{ row.get('oui') }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="tfoot-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">MAC Address</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Count</th>
        <th scope="col">Sensor Latitude, Longitude</th>
        <th scope="col">Sensor</th>
        <th scope="col">OUI</th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="col-sm-1"></div>


<div class="col-sm-10">

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('main.index', page=temp_loras.prev_num) }}" class="btn btn-primary {% if temp_loras.page == 1 %}disabled{% endif %}" aria-pressed='true'>&laquo;</a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page in temp_loras.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

{% if page %}
<!-- Check for the active page and set the link to "Active"-->
            {% if temp_loras.page == page %}
            <a type="button" href="{{ url_for('main.index', page=page) }}" class="btn btn-primary" aria-pressed='true'>
                {{ page }}
            </a>
            {% else %}
            <a href="{{ url_for('main.index', page=page) }}" class="btn btn-primary" aria-pressed='true'>
                {{ page }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('main.index', page=temp_loras.next_num) }}" class="btn btn-primary {% if temp_loras.page == temp_loras.pages %}disabled{% endif %}" aria-pressed='true'>&raquo;</a>
</div>
<p class="text-right mt-3">
   Showing page {{ temp_loras.page }} of {{ temp_loras.pages }}
</p>
</div>


</div>
{% endblock %}
