<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<!-- <div class="container align-items-center"> -->
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
  <form class="form-group-sm-row" action="" name='get_sensors' id='get_sensors' method='post'>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-success">
                <strong>{{ message }}</strong>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <label name="sel_sensor">
      <div class="form-group-sm">
        <div>Sensors</div>
        <div class="select is-dark is-small">
          <select class="form-control form-control-sm" name="sensor_id" id="sensor_id">
            {% for element in table %}
                <option id="{{ element.get('id') }}" value="{{ element.get('id') }}">{{ element.get('sensor') }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      </label>

      <div>
        <div class="form-group-sm">
            <div>Sensor ID</div>
            <textarea class="form-control form-control-sm" rows="1" name="sensor" placeholder="sensor">{{ sensor }}</textarea>
        </div>
      </div>


      <div class="form-group-sm">
        <div class="form-group-sm">
            <div>Latitude</div>
            <textarea class="form-control form-control-sm" rows="1" name="lat" placeholder="Latitude">{{ lat }}</textarea>
        </div>
      </div>

      <div class="form-group-sm">
        <div class="form-group-sm">
            <div>Longitude</div>
            <textarea class="form-control form-control-sm" rows="1" name="lon" placeholder="Longitude">{{ lon }}</textarea>
        </div>
      </div>


      <div class="text-center">
        <button class="btn btn-primary" name="get">Get Entry</button>
        <button class="btn btn-primary" name="update">Update Entry</button>
        <button class="btn btn-primary" name="new">New Entry</button>
      </div>
  </form>
</div>
<div class="col-sm-3"></div>
</div>
{% endblock %}

